{#
SWBench
Copyright (C) 2022 Tideways GmbH

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <style type="text/css">
            @import "https://fonts.googleapis.com/css?family=Roboto";

            body {
                font-family: Roboto, Arial, sans-serif;
                font-size: 12pt;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%
            }
            table {
                border: solid #999 0px;
                border-collapse: collapse;
                padding: 0px;
                width: 100%;
            }
            th, td {
                border: solid lightgray 0px;
                border-collapse: collapse;
                padding-bottom: 10px;
                vertical-align: top;
            }
            .new-page {
                page-break-before: always;
            }
            h1 {
                padding: 0px;
                margin: 0px;
                margin-bottom: 8px;
            }
            h2, h3, h4 {
                margin: 0px; padding: 0px;
                margin-bottom: 8px;
            }
            h4 {
                color: gray;
                font-weight: normal;
                font-size: 12pt;
            }
            .score {
                text-align: center;
                width: 70px;
                padding: 4px;
                margin: 0 auto;
                color: #000;
                font-size: 7pt;
                font-weight: bold;
                border-radius: 5px;
            }
            .score-big {
                font-size: 18pt;
                padding: 18px;
                margin: 0 auto;
                width: 180px;
            }
            span.bold {
                font-weight: bold;
            }
            p.text-muted, span.text-muted {
                font-size: 10pt;
                color: #999999;
            }
            span.label {
                display: inline-block;
                padding: 0.2em 0.6em 0.3em;
                border-radius: 0.25em;
                color: #fff;
            }
            span.label-danger {
                background-color: #f00;
            }
            span.label-success {
                background-color: #00a65a;
            }
            .unit.response-time {
                color: #34495e;
            }
            .unit.memory {
                color: #00a65a;
            }
            tr.even td {
                background-color: #f9f9f9;
            }
            tr.odd td {
                background-color: #ffffff;
            }
            table.traces tbody td {
                padding: 5px;
            }
            table.traces tbody {
                border-top: 1px solid #ccc;
            }
            table.summary {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
            table.summary td, table.summary th {
                border-top: 1px solid #ccc;
            }
            table.summary .border-right {
                border-right: 1px solid #ccc;
            }
            table.summary td.pl-15 {
                padding-left: 15px;
            }
            td.pl-30 {
                padding-left: 30px;
            }
            table.summary th {
                background-color: #eee;
            }
            .align-right { text-align: right; }
            .align-center { text-align: center; }
            table.summary td, table.summary th {
                font-size: 10pt;
                padding: 4px;
            }
            table.key-results th, table.key-results td {
                text-align: center;
            }
            .circle {
                height: 75px;
                width: 75px;
                background-color: #bbb;
                border-radius: 50%;
                display: block;
                color: #fff;
                line-height: 75px;
                text-align: center;
                margin: 0 auto;
            }
        </style>
    </head>

    {% macro score(val, big = false) %}
        <div class="score {% if big %}score-big{% endif %}" style="background-color:
                {% if val < 512 %}#2ce574
                {% elseif val < 1024 %}#cdf03a
                {% elseif val < 2048 %}#ffe500
                {% elseif val < 1024 %}#ff9600
                {% elseif val < 1024 %}#ff3924{% endif %};"
        >

            {% if val < 512 %}Excellent (A)
            {% elseif val < 1024 %}Good (B)
            {% elseif val < 2048 %}Acceptable (C)
            {% elseif val < 1024 %}Degraded (D)
            {% elseif val < 1024 %}Unacceptable (F){% endif %}</div>
    {% endmacro %}

    {% macro chart_row(title, slug, tideways, locust, histogram = false) %}
        <tr>
            <td colspan="2"><h3 style="margin-bottom: 0px;"><a id="details_{{ slug }}">{{ title }}</a></h3></td>
        </tr>
        {% if histogram %}
            <tr>
                <td rowspan="2">
                    <img src="./locust/{{ slug }}_histogram.png" width="520" />
                </td>
                <td>
                    <p>The {{ title }} performance for {{ config.scenario.host }} score is:</p>
                </td>
            </tr>
            <tr>
                <td>
                    {{ _self.score(attribute(locust.pageSummary, slug).get95PercentileResponseTime(), true) }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td width="50%">
                <table>
                    <tr>
                        <td><h4 style="margin-bottom: 0;">User Performance</h4></td>
                        <td class="align-right" style="padding-right: 30px; font-size: 10pt;">
                            95% Percentile: {{ attribute(locust.pageSummary, slug).get95PercentileResponseTime() }}ms,
                            Median: {{ attribute(locust.pageSummary, slug).getMedianResponseTime() }}ms,
                            {{ attribute(locust.pageSummary, slug).getRequestCount() }} requests
                        </td>
                    </tr>
                </table>

                <img src="./locust/{{ slug }}_response_times.png" width="520" />
            </td>

            <td width="50%">
                <table>
                    <tr>
                        <td><h4 style="margin-bottom: 0;">PHP Performance</h4></td>
                        <td class="align-right" style="padding-right: 30px; font-size: 10pt;">
                            95% Percentile: {{ attribute(tideways, slug).responseTime }}ms,
                            {{ attribute(tideways, slug).requests }} requests
                        </td>
                    </tr>
                </table>

                <img src="./tideways/{{ slug }}_performance.png" width="520" />
            </td>
        </tr>
    {% endmacro %}

    <body>
        <div id="content">
            <table>
                <tr>
                    <td width="80%">
                        <h1>Shopware 6 Benchmark</h1>

                        <h2>Scenario: {{ config.scenario.title }}</h2>

                        <p class="text-muted">{{ config.scenario.description }}</p>
                    </td>
                    <td width="20%" align="left" style="line-height: 60px;">
                        <img height="50" src="./shopware_logo_blue.svg"  /><br />
                        <img height="50" src="./tideways.png" />
                    </td>
                </tr>
            </table>

            <table>
                {{ _self.chart_row("Overall", "overall", tideways, locust, true, _context) }}
            </table>

            <h3 style="margin-top: 30px; margin-bottom: 30px;">Key Results</h3>

            <table class="key-results">
                <tr>
                    <td><div class="circle" style="background-color: #37485e">{{ purchases_per_hour }}</div></td>
                    <td><div class="circle" style="background-color: #f7b234">{{ requests_per_minute }}</div></td>
                    <td><div class="circle" style="background-color: #92117e">{{ locust.pageSummary["overall"].get95PercentileResponseTime() }}ms</div></td>
                    <td><div class="circle" style="background-color: #40a52b">{{ counts.products | number_format(0, '.', ',') }}</div></td>
                    <td><div class="circle" style="background-color: #026b5c">{{ counts.listings | number_format(0, '.', ',') }}</div></td>
                </tr>
                <tr>
                    <th width="20%">Orders/Hour</th>
                    <th width="20%">Requests/Minute</th>
                    <th width="20%">95% Response Times</th>
                    <th width="20%">Products</th>
                    <th width="20%">Categories</th>
                </tr>
            </table>

            <h3 style="margin-top: 30px;">Page Performance Summary</h3>
            <table class="summary">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th class="border-right">Score</th>
                        <th colspan="3">User Performance</th>
                        <th colspan="2">PHP Performance</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td></td>
                        <td class="border-right"></td>
                        <td class="align-right">Median</td>
                        <td class="align-right">95% Perc.</td>
                        <td class="align-right border-right">Requests</td>
                        {# <td class="align-right">Median</td> #}
                        <td class="align-right">95% Perc.</td>
                        <td class="align-right">Requests</td>
                    </tr>
                </thead>
                <tbody>
                    {% macro summary_row(title, slug, tideways, locust) %}
                        <tr>
                            <td class="pl-15">{{ title }}</td>
                            <td class="align-center border-right">
                                {% if locust.pageSummary[slug].getRequestCount() > 0 %}
                                    {{ _self.score(locust.pageSummary[slug].get95PercentileResponseTime()) }}
                                {% endif %}
                            </td>
                            <td class="align-right">{{ locust.pageSummary[slug].getMedianResponseTime() }}ms</td>
                            <td class="align-right">{{ locust.pageSummary[slug].get95PercentileResponseTime() }}ms</td>
                            <td class="align-right border-right">{{ locust.pageSummary[slug].getRequestCount() }}</td>
                            {# <td class="align-right">{{ tideways[slug].getMedianResponseTime() }}ms</td>#}
                            <td class="align-right">{{ tideways[slug].responseTime }}ms</td>
                            <td class="align-right">{{ tideways[slug].requests }}</td>
                        </tr>
                    {% endmacro %}

                    {% set columns = "7" %}
                    <tr>
                        <td colspan="{{ columns }}">Browsing</td>
                    </tr>
                    {{ _self.summary_row("Homepage", "homepage", tideways, locust) }}
                    {{ _self.summary_row("Product Details Page", "product-detail-page", tideways, locust) }}
                    {{ _self.summary_row("Category Page", "listing-page", tideways, locust) }}
                    {{ _self.summary_row("Category Page Filter", "listing-widget-filtered", tideways, locust) }}
                    {{ _self.summary_row("Search", "search", tideways, locust) }}
                    {{ _self.summary_row("Search Suggestions", "search-suggest", tideways, locust) }}
                    <tr>
                        <td colspan="{{ columns }}">Cart</td>
                    </tr>
                    {{ _self.summary_row("Cart Info Widget", "cart-widget", tideways, locust) }}
                    {{ _self.summary_row("Add Item To Cart", "add-to-cart", tideways, locust) }}
                    {{ _self.summary_row("Cart Page", "cart-page", tideways, locust) }}
                    <tr>
                        <td colspan="{{ columns }}">Checkout</td>
                    </tr>
                    {{ _self.summary_row("Checkout Register Page", "checkout-register-page", tideways, locust) }}
                    {{ _self.summary_row("Confirm Order Page", "confirm-page", tideways, locust) }}
                    {{ _self.summary_row("Order", "order", tideways, locust) }}
                    <tr>
                        <td colspan="{{ columns }}">Account Management</td>
                    </tr>
                    {{ _self.summary_row("Register Page", "register-page", tideways, locust) }}
                    {{ _self.summary_row("Register", "register", tideways, locust) }}
                    {{ _self.summary_row("Login", "login", tideways, locust) }}
                </tbody>
            </table>

            <h2 class="new-page">Scenario Configuration</h2>

            <p>The following options were configured for the benchmarking scenario:</p>

            <table>
                <tr>
                    <td width="30%">Duration</td>
                    <td width="20%">{{ config.scenario.duration }}</td>
                    <td>How long was this scenario run.</td>
                </tr>
                <tr>
                    <td width="30%">Concurrent Threads</td>
                    <td width="20%">{{ config.scenario.concurrentThreads }}</td>
                    <td>How many concurrent users are simulated in this benchmark. Each concurrent user is performing a break of 1 second between each click/action and waits for a few seconds before starting again.</span></td>
                </tr>
                <tr>
                    <td width="30%">Share of Browsing Users</td>
                    <td width="20%">{{ 100 - config.scenario.cartAbandonmentRatio - config.scenario.conversionRatio }}%</td>
                    <td>Percentage of users that are browsing categories, products, searching.</td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Guests</td>
                    <td width="20%">{{ config.scenario.browsingGuestRatio }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Users with existing accounts</td>
                    <td width="20%">{{ config.scenario.getBrowsingLoggedInRatio() }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Users with new accounts</td>
                    <td width="20%">{{ config.scenario.getBrowsingNewAccountRatio() }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%">Share of Converting Users</td>
                    <td width="20%">{{ config.scenario.conversionRatio }}%</td>
                    <td>Percentage of users that are buying products.</td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Guest Checkout Ratio</td>
                    <td width="20%">{{ config.scenario.checkoutGuestRatio }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Purchasers with existing accounts</td>
                    <td width="20%">{{ config.scenario.getCheckoutLoggedInRatio() }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%" class="pl-30">Purchasers creating new accounts</td>
                    <td width="20%">{{ config.scenario.getCheckoutNewAccountRatio() }}%</td>
                    <td></td>
                </tr>
                <tr>
                    <td width="30%">Share of Abandoning Cart Users</td>
                    <td width="20%">{{ config.scenario.cartAbandonmentRatio }}%</td>
                    <td>Percentage of users that are abandoning their cart with products in them.</td>
                </tr>
                <tr>
                    <td width="30%">Shopware Version</td>
                    <td width="20%">{{ config.shopware.version }}</td>
                </tr>
                <tr>
                    <td width="30%">PHP Version</td>
                    <td width="20%">{{ config.shopware.phpVersion }}</td>
                </tr>
            </table>

            <h2 class="new-page">Performance of Browsing</h2>

            <table>
                {{ _self.chart_row("Homepage", "homepage", tideways, locust) }}
                {{ _self.chart_row("Product Details Page", "product-detail-page", tideways, locust) }}
                {{ _self.chart_row("Category Page", "listing-page", tideways, locust) }}
                {{ _self.chart_row("Category Page Filter", "listing-widget-filtered", tideways, locust) }}
                {{ _self.chart_row("Search", "search", tideways, locust) }}
                {{ _self.chart_row("Search Suggestions", "search-suggest", tideways, locust) }}
            </table>

            <h2 class="new-page">Performance of Cart</h2>

            <table>
                {{ _self.chart_row("Cart Page", "cart-page", tideways, locust) }}
                {{ _self.chart_row("Cart Info Widget", "cart-widget", tideways, locust) }}
                {{ _self.chart_row("Add Item To Cart", "add-to-cart", tideways, locust) }}
            </table>

            <h2 class="new-page">Performance of Checkout</h2>
            <table>
                {{ _self.chart_row("Confirm Order Page", "confirm-page", tideways, locust) }}
                {{ _self.chart_row("Order", "order", tideways, locust) }}
                {{ _self.chart_row("Register", "register", tideways, locust) }}
                {{ _self.chart_row("Login", "login", tideways, locust) }}
            </table>

            <h2 class="new-page">Slowest Traces</h2>

            <p>
                This list contains the slowest trace for each page/operation that was collected by Tideways during the benchmark.
            </p>

            <table class="traces">
            {% for page, pageTraces in traces %}
                {% for trace in pageTraces %}
                <tbody>
                    <tr class="{% if loop.parent.loop.index is odd %}odd{% else%}even{% endif%} summary">
                        <td width="100"><span class="unit response-time">{{ trace.responseTimeMs }}&nbsp;ms</span></td>
                        <td>
                            <a href="{{ trace.htmlUrl }}">
                                <span class="bold">{{ trace.transactionName }}</span>
                            </a>
                        </td>
                        <td width="100">{{ trace.date|date('d.m, H:i') }}</td>
                    </tr>
                    <tr class="{% if loop.parent.loop.index is odd %}odd{% else%}even{% endif%} details">
                        <td colspan="1"><span class="unit memory">{{ trace.memoryMb }} MB</span></td>
                        <td colspan="2">
                            <span class="label {% if trace.httpStatus >= 500 %}label-danger{% else %}label-success{% endif %}">{{ trace.httpStatusCode }}</span>
                            <span class="text-muted">{{ trace.httpMethod }} {{ trace.url }}/</span>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            {% endfor %}
            </table>

            <h2 class="new-page">Score / Legend</h2>

            <p>The score is calculated using the 95% percentile of the page or overall performance and comparing it against these thresholds:</p>

            <ul>
                <li>Excellent (A): 95% of requests have performance below 512ms</li>
                <li>Good (B): 95% of requests have performance below 1024ms</li>
                <li>Acceptable (C): 95% of requests have performance below 2048ms</li>
                <li>Degraded (D): 95% of requests have performance below 4096ms</li>
                <li>Unacceptable (F): More than 5% of requests are slower than 4096ms</li>
            </ul>

            <h2>Disclaimer</h2>

            <p>
                Only benchmarks performed against real production environment hardware, software and data
                will provide realistic and reliable results of future production behavior.
                This benchmark focuses of server-side performance from the browser and PHP point of view.
                The results only partially explain real user performance in the browser.
            </p>

            <p>The code for this benchmark is open-source and available at <a href="https://github.com/tideways/shopware6-benchmarking">https://github.com/tideways/shopware6-benchmarking</a> under AGPL v3 license.</p>
        </div>
    </body>
</html>
