{#
SWBench
Copyright (C) 2022 Tideways GmbH

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <style type="text/css">
            @import "https://fonts.googleapis.com/css?family=Roboto";

            body {
                font-family: Roboto, sans-serif;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%
            }
            table {
                border: solid #999 0px;
                border-collapse: collapse;
                padding: 0px;
                width: 100%;
            }
            th, td {
                border: solid lightgray 0px;
                border-collapse: collapse;
                padding-bottom: 10px;
                vertical-align: top;
            }
            .new-page {
                page-break-before: always;
            }
            h1 {
                padding: 0px;
            }
            h2, h3, h4 {
                margin: 0px; padding: 0px;
            }
            h4 {
                color: gray;
                font-weight: normal;
                font-size: 10pt;
            }
            .score {
                text-align: center;
                display: inline-block;
                padding: 10px;
                margin: auto;
                color: #000;
                font-size: 10pt;
                font-weight: bold;
                border-radius: 5px;
            }
            span.bold {
                font-weight: bold;
            }
            span.text-muted {
                font-size: 8px;
                color: #999999;
            }
            span.label {
                display: inline-block;
                padding: 0.2em 0.6em 0.3em;
                border-radius: 0.25em;
                color: #fff;
            }
            span.label-danger {
                background-color: #f00;
            }
            span.label-success {
                background-color: #00a65a;
            }
            .unit.response-time {
                color: #34495e;
            }
            .unit.memory {
                color: #00a65a;
            }
            tr.even td {
                background-color: #f9f9f9;
            }
            tr.odd td {
                background-color: #ffffff;
            }
            table.traces tbody td {
                padding: 5px;
            }
            table.traces tbody {
                border-top: 1px solid #ccc;
            }
        </style>
    </head>

    {% macro chart_row(title, slug, tideways, locust, histogram = false) %}
        <tr>
            <td colspan="2"><h3>{{ title }}</h3></td>
        </tr>
        {% if histogram %}
            <tr>
                <td>
                    <img src="./locust/{{ slug }}_histogram.png" width="520" />
                </td>
                <td>
                    <p>The {{ title }} performance score is:</p>

                    {% set val = attribute(locust.pageSummary, slug).get95PercentileResponseTime() %}
                    <div class="score" style="background-color:
                         {% if val < 512 %}#2ce574
                         {% elseif val < 1024 %}#cdf03a
                         {% elseif val < 2048 %}#ffe500
                         {% elseif val < 1024 %}#ff9600
                         {% elseif val < 1024 %}#ff3924{% endif %};"
                    >

                    {% if val < 512 %}Excellent (A)
                    {% elseif val < 1024 %}Good (B)
                    {% elseif val < 2048 %}Acceptable (C)
                    {% elseif val < 1024 %}Degraded (D)
                    {% elseif val < 1024 %}Unacceptable (F){% endif %}</div>

                    <p>For 95% of the reqeusts made by users the response time is <span class="bold">{{ val }}ms</span> or less,
                        the median response time is <span class="bold">{{ attribute(locust.pageSummary, slug).getMedianResponseTime() }}ms</span>.
                    This is based on {{ attribute(locust.pageSummary, slug).getRequestCount() }} requests.</p>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td width="50%">
                <h4>User Performance <span style="color: red">
                        95p: {{ attribute(locust.pageSummary, slug).get95PercentileResponseTime() }}ms,
                        Median: {{ attribute(locust.pageSummary, slug).getMedianResponseTime() }}ms,
                        {{ attribute(locust.pageSummary, slug).getRequestCount() }} req
                    </span>
                </h4>

                <img src="./locust/{{ slug }}_response_times.png" width="520" />
            </td>

            <td width="50%">
                <h4>PHP Performance <span style="color: red">
                        95p: {{ attribute(tideways, slug).responseTime }}ms,
                        {{ attribute(tideways, slug).requests }} req
                    </span>
                </h4>

                <img src="./tideways/{{ slug }}_performance.png" width="520" />
            </td>
        </tr>
    {% endmacro %}

    <body>
        <div id="content">


            <table>
                <tr>
                    <td width="80%">
                        <h1>Shopware 6 Benchmark</h1>

                        <h2>Scenario: {{ config.scenario.title }}</h2>
                    </td>
                    <td width="20%" align="left" style="line-height: 60px;">
                        <img height="50" src="./shopware_logo_blue.svg"  /><br />
                        <img height="50" src="./tideways.png" />
                    </td>
                </tr>
            </table>
            <table>
                {{ _self.chart_row("Overall", "overall", tideways, locust, true) }}

                {{ _self.chart_row("Category Page", "listing-page", tideways, locust) }}

                {{ _self.chart_row("Product Details Page", "product-detail-page", tideways, locust) }}

                <tr>
                    <td width="50%">
                        <h3>Scenario Description</h3>

                        <table>
                            <tr>
                                <td width="50%">Duration</td>
                                <td width="50%">{{ config.scenario.duration }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Concurrent Threads</td>
                                <td width="50%">{{ config.scenario.concurrentThreads }}</td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding-left: 10px;">Share of Converting Users</td>
                                <td width="50%">{{ config.scenario.conversionRatio }}%</td>
                            </tr>
                            <tr>
                                <td width="50%" style="padding-left: 10px;">Share of Browsing Users</td>
                                <td width="50%">{{ 100 - config.scenario.conversionRatio }}%</td>
                            </tr>
                            <tr>
                                <td width="50%">Shopware Version</td>
                                <td width="50%">{{ config.shopware.version }}</td>
                            </tr>
                            <tr>
                                <td width="50%">PHP Version</td>
                                <td width="50%">{{ config.shopware.phpVersion }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Hardware</td>
                                <td width="50%">{{ config.shopware.serverHardware }}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                        <h3>Shop Variables</h3>

                        <table>
                            <tr>
                                <td width="50%">Products</td>
                                <td width="50%">{{ counts.products | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Categories</td>
                                <td width="50%">{{ counts.listings | number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr>
                                <td width="50%">Requests/Minute</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ requests_per_minute }}</td>
                            </tr>
                            <tr>
                                <td width="50%">PHP Requests/Minute</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ php_requests_per_minute }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Orders/Hour</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ purchases_per_hour }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 5pt; color: gray;">
                        <p>Disclaimer: Only benchmarks performed against real production environment hardware, software and data
                            will provide realistic and reliable results of future production behavior.
                            This benchmark focuses of server-side performance from the browser and PHP point of view.
                            The results only partially explain real user performance in the browser.
                        </p>

                        <p>The code for this benchmark is open-source and available under <a href="https://github.com/tideways/shopware6-benchmarking">https://github.com/tideways/shopware6-benchmarking</a>.</p>
                    </td>
                </tr>
            </table>

            <h2 class="new-page">Performance of All Pages</h2>

            <table>
                {{ _self.chart_row("Homepage", "homepage", tideways, locust) }}
                {{ _self.chart_row("Search", "search", tideways, locust) }}
                {{ _self.chart_row("Order", "order", tideways, locust) }}
                {{ _self.chart_row("Add Item To Cart", "add-to-cart", tideways, locust) }}
                {{ _self.chart_row("Cart Page", "cart-page", tideways, locust) }}
                {{ _self.chart_row("Register", "register", tideways, locust) }}
            </table>

            <h2 class="new-page">Slowest Traces</h2>

            <p>
                This list contains the slowest trace for each page/operation that was collected by Tideways during the benchmark.
            </p>

            <table class="traces">
            {% for page, pageTraces in traces %}
                {% for trace in pageTraces %}
                <tbody>
                    <tr class="{% if loop.parent.loop.index is odd %}odd{% else%}even{% endif%} summary">
                        <td width="100" class="number short"><span class="unit response-time">{{ trace.responseTimeMs }}&nbsp;ms</span></td>
                        <td class="operation">
                            <a class="profile-list-item" href="{{ trace.htmlUrl }}">
                                <span class="bold string word-break">{{ trace.transactionName }}</span>
                            </a>
                        </td>
                        <td width="100" class="number width-22p">{{ trace.date|date('d.m, H:i') }}</td>
                    </tr>
                    <tr class="{% if loop.parent.loop.index is odd %}odd{% else%}even{% endif%} details">
                        <td colspan="1" class="number short"><span class="unit memory">{{ trace.memoryMb }} MB</span></td>
                        <td colspan="2" class="title word">
                            <div class="profile-list-item-metadata"><small>
                                <span class="label {% if trace.httpStatus >= 500%}label-danger{% else %}label-success{% endif %}">{{ trace.httpStatusCode }}</span>
                                <small><span class="text-muted word-break">{{ trace.httpMethod }} {{ trace.url }}/</span></small>
                                </small>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            {% endfor %}
            </table>

            <p></p>
        </div>
    </body>
</html>
