<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
            <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <style type="text/css">
            body {
                font-family: Roboto, sans-serif;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%
            }
            table {
                border: solid #999 0px;
                border-collapse: collapse;
                padding: 0px;
                width: 100%;
            }
            th, td {
                border: solid lightgray 0px;
                border-collapse: collapse;
                padding-bottom: 10px;
                vertical-align: top;
            }
            .new-page {
                page-break-before: always;
            }
            h1 {
                padding: 0px;
            }
            h2, h3, h4 {
                margin: 0px; padding: 0px;
            }
            h4 {
                color: gray;
                font-weight: normal;
                font-size: 10pt;
            }
        </style>
    </head>

    {% macro chart_row(title, slug, tideways, locust) %}
        <tr>
            <td colspan="2"><h3>{{ title }}</h3></td>
        </tr>
        <tr>
            <td width="50%">
                <h4>User Performance <span style="color: red">
                        {{ attribute(locust.pageSummary, slug).get95PercentileResponseTime() }}ms,
                        {{ attribute(locust.pageSummary, slug).getRequestCount() }} req
                    </span>
                </h4>

                <img src="./locust/{{ slug }}_response_times.png" width="520" />
            </td>

            <td width="50%">
                <h4>PHP Performance <span style="color: red">
                        {{ attribute(tideways, slug).responseTime }}ms,
                        {{ attribute(tideways, slug).requests }} req
                    </span>
                </h4>

                <img src="./tideways/{{ slug }}_performance.png" width="520" />
            </td>
        </tr>
    {% endmacro %}

    <body>
        <div id="content">


            <table>
                <tr>
                    <td width="80%">
                        <h1>Shopware 6 Benchmark</h1>

                        <h2>Scenario: {{ config.scenario.title }}</h2>
                    </td>
                    <td width="20%" align="left" style="line-height: 60px;">
                        <img height="50" src="./shopware_logo_blue.svg"  /><br />
                        <img height="50" src="./tideways.png" />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td width="50%">
                        <h3>Overall User Performance  <span style="color: red">{{ locust.pageSummary.overall.get95PercentileResponseTime() }}ms</span></h3>

                        <img src="./locust/Aggregated_response_times.png" width="520" />

                    </td>

                    <td width="50%">

                        <h3>Overall PHP Performance <span style="color: red">{{ tideways.overall.responseTime }}ms</span></h3>

                        <img src="./tideways/overall_performance.png" width="520" />
                    </td>
                </tr>

                {{ _self.chart_row("Category Page", "listing-page", tideways, locust) }}

                {{ _self.chart_row("Product Details Page", "product-detail-page", tideways, locust) }}

                <tr>
                    <td width="50%">
                        <h3>Scenario Description</h3>

                        <table>
                            <tr>
                                <td width="50%">Duration</td>
                                <td width="50%">{{ config.scenario.duration }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Concurrent Threads</td>
                                <td width="50%">{{ config.scenario.concurrentThreads }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Shopware Version</td>
                                <td width="50%">{{ config.shopware.version }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Plugins</td>
                                <td width="50%">{{ config.shopware.plugins|join(", ") }}</td>
                            </tr>
                            <tr>
                                <td width="50%">PHP Version</td>
                                <td width="50%">{{ config.shopware.phpVersion }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Hardware</td>
                                <td width="50%">{{ config.shopware.serverHardware }}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                        <h3>Shop Variables</h3>

                        <table>
                            <tr>
                                <td width="50%">Products</td>
                                <td width="50%">{{ counts.products | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Categories</td>
                                <td width="50%">{{ counts.listings | number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr>
                                <td width="50%">Requests/Minute</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ requests_per_minute }}</td>
                            </tr>
                            <tr>
                                <td width="50%">PHP Requests/Minute</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ php_requests_per_minute }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Orders/Hour</td>
                                <td width="50%" style="color: red; font-weight: bold">{{ purchases_per_hour }}</td>
                            </tr>
                        </table>

                        <h3>Configuration</h3>

                        <table>
                            <tr>
                                <td width="50%">HTTP Cache Lifetime</td>
                                <td width="50%">{{ config.shopware.httpCacheLifetime }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Cache</td>
                                <td width="50%">{{ config.shopware.cacheBackend }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Product Search</td>
                                <td width="50%">{{ config.shopware.productSearchBackend }}</td>
                            </tr>
                            <tr>
                                <td width="50%">Background Queue</td>
                                <td width="50%">{{ config.shopware.backgroundQueue }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 6pt; color: gray;">
                        Legend<br />
                        - The left y-axis depicts the Response Times calculated as 95% percentile<br />
                        - The right y-axis depicts the number of requests and errors<br />

                        <p>Disclaimer: Only benchmarks performed against real production environment, software and data
                            will provide realistic and reliable results of future production behavior.
                            This benchmark focuses of server-side performance from the browser and PHP point of view.
                            Its results can only partially explain real user performance in the browser.
                        </p>

                        <p>
                            Each thread in the benchmark is a <a href="http://docs.locust.io/en/stable/writing-a-locustfile.html#">Locust user</a>, each with different behaviors:
                            For example: Purchaser, Random Surfer, Searching user, category pagination and filtering user.
                        </p>

                        <p>The code for this benchmark is open-source and available under <a href="https://github.com/tideways/shopware6-benchmarking">https://github.com/tideways/shopware6-benchmarking</a>.</p>
                    </td>
                </tr>
            </table>

            <h2 class="new-page">Performance of All Pages</h2>

            <table>
                {{ _self.chart_row("Homepage", "homepage", tideways, locust) }}
                {{ _self.chart_row("Search", "search", tideways, locust) }}
                {{ _self.chart_row("Order", "order", tideways, locust) }}
                {{ _self.chart_row("Add Item To Cart", "add-to-cart", tideways, locust) }}
                {{ _self.chart_row("Cart Page", "cart-page", tideways, locust) }}
                {{ _self.chart_row("Register", "register", tideways, locust) }}
            </table>
        </div>
    </body>
</html>
